<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"> </script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>

{% verbatim %}	

	<div class="container" id="orders_app">

		<template v-for="order in orders">

			<div class="btn btn-success btn-lg">
				Amount: {{ order.amount }}
				<br>
				Description: {{ order.description }}
			</div>
			<br><br>

		</template>

		<el-button @click="postpost">Button</el-button>



		
	</div>

{% endverbatim %}		
	
<script src="/static/app.js"></script>

</body>
</html>